node_modules/
libs/
.DS_Store
*.sublime-*
*.log
*~

# bem
.enb/tmp/
*.bundles*/*/*.*
!*.bundles*/*/blocks/*
!*.bundles*/*/*.bemjson.js
!*.bundles*/*/*.md
*pages*/*/*.*
!*pages*/*/*.bemjson.js
!*pages*/.bem/*
_/

# symlinks
configs/current
.borschik

# deploy
sitemap.xml
robots.txt
*.gz
